{% extends 'main/layout.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form method="post" class="container-fluid">
              <div>
                <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                {% csrf_token %}
                <input type="text" name="username" class="form-control form-control-lg" id="id_username" placeholder="Имя">
                <p class="fw-bold mb-2">{{ form.username.errors }}</p>
                <input type="password" name="password1" class="form-control form-control-lg" id="id_password1" placeholder="Пароль">
                <p class="fw-bold mb-2">{{ form.password1.errors }}</p>
                <input type="password" name="password2" class="form-control form-control-lg" id="id_password2" placeholder="Подтверждение пароля">
                <p class="fw-bold mb-2">{{ form.password2.errors }}</p>
                <button type="submit" class="btn btn-outline-light btn-lg px-5">Register</button>
                <br>
                <a class="text-white-50 text-center" href="{% url 'mainpage' %}">Возврат</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}