{% extends 'main/layout.html' %}
{% block title %}Planner{% endblock %}
{% block content %}
<div class="container-fluid text-center">
<div class="text-center">
    <form action="{% url 'addTask' %}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-success float-start">Add task</button>
    </form>
    <form action="" method="GET" style="display:inline;">
        <input type="hidden" value="Last" name="action">
        <input type="hidden" value="{{ weekday.0.1|date:'Y-m-d' }}" name="date">
        <button type="submit" class="btn btn-secondary w-25 mx-auto">Last</button>
    </form>
    <form action="" method="GET" style="display:inline;">
        <input type="hidden" value="Select" name="action">
        <input type="date" name="date">
        <button type="submit" class="btn btn-info w-10 mx-auto">Select</button>
    </form>
    <form action="" method="GET" style="display:inline;">
        <input type="hidden" value="Next" name="action">
        <input type="hidden" value="{{ weekday.0.1|date:'Y-m-d' }}" name="date">
        <button type="submit" class="btn btn-secondary w-25 mx-auto">Next</button>
    </form>
    {% if username %}
    <form action="/accounts/logout/" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning float-end">{{ username }}</button>
    </form>
    {% endif %}
</div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for day in weekday %}
            {% if forloop.counter|divisibleby:"2" %}
                <div class="col vh-100 first">
            {% else %}
                <div class="col vh-100 second">
            {% endif %}
                <h2> {{ day.0 }} </h2>
                <h3>{{ day.1 }}</h3>
                    {% for el in tasks %}
                        {% if el.date == day.1 %}
                            <div class="col-fluid" style="background-color: #ff9919">
                                <h4> {{ el.time }} </h4>
                                <h5> {{ el.title }}</h5>
                                <p> {{ el.announce }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
